# apt
alias aptup='sudo apt update && sudo apt upgrade'

# colors
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# eza
if command -v eza >/dev/null 2>&1; then
  alias ls='eza --icons=auto'
  alias tree='ls -T'
fi

# Git
alias gss='git status -s'
alias gs='git status'

# CMake
alias cbuild='cmake -B build && cmake --build build'

# On Android Termux
if [[ "$(uname -s)" == "Linux" && -f /system/build.prop ]]; then
  myhome="/storage/emulated/0"
fi
