# apt
alias aptup='sudo apt update && sudo apt upgrade'

# Git
alias gss='git status -s'
alias gs='git status'

# Vscode
alias chae='code . && exit'

# CMake
alias cbuild='cmake -B build && cmake --build build'

# SSH
alias myserver='stserver@49.235.111.34'

# clash
alias clash_on='sudo bash ~/tools/clash-for-linux/start.sh'
